.Product-link {
	text-decoration: none !important;
}

.Product-link:hover {
	cursor: pointer;
}

.Box {
	box-shadow: 5px 5px 25px black;
}

.Card-image-container {
	height: 220px;
}

.Card-image {
	max-width: 100%;
	max-height: 200px;
}
