.slide-control {
  width: 300px;
  margin-left: 15px;
  margin-right: 15px;
  height: 100px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slider {
  display: flex;
  flex-direction: row;
}

.picture-display {
  width: 500px;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.slider-controll-pic {
  margin-left: 5px;
  margin-right: 5px;
  height: 90px;
  min-width: 90px;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #1d3354;
  background-size: cover;
}

.slider-controll-pic:hover {
  cursor: pointer;
  border: 1px solid #9ed8db;
}

.arrow {
  height: 100px;
  width: 75px;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #1d3354;
}

.arrow span:hover {
  cursor: pointer;
  color: #9ed8db;
}
